* {
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
}
.login-form{
    display: flex;
    flex-direction: column;
}

.login-form > *{
    position: relative;
    left: 34%;
    margin: 8px;
    width: 30%;
    padding: 5px;
}

.lbl{
    margin: 5px;
}

#log-in{
    position: relative;
    left: 33%;
    margin: 15px;
    padding: 10px;
    width: 15%;
}
#create-acc{
    position: relative;
    left: 33%;
    margin: 15px;
    padding: 10px;
    width: 15%;
}
